<% provide(:title, "Home") %>
<h1 style="margin-top:30px;"><b>BESTAGE</b></h1>

<div class="row" id="desc">
  Una soluzione alle 400 ore di alternanza scuola-lavoro che può assegnare ad
  ogni studente l'azienda a lui più adatta, in base ad un abbinamento tra le sue
  competenze e quelle richieste dalle aziende, puntando l'attenzione soprattutto
  sul livello con cui esse sono state da lui apprese e sul livello di richiesta
  dell'azienda delle stesse.
</div>
<div class="row" id="signup-container">
  <%= link_to "Sei un'azienda? Registrati!", companies_signup_path, class: "btn btn-primary" %>
</div>

<div class="row v-align">
  <div class="stat">
    <div>
      <div class="icon">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
      </div>
      <div class="number"><%= @stats[:ncompanies] %></div>
      Aziende registrate
    </div>
  </div>

  <div class="stat">
    <div>
      <div class="icon">
        <span class="glyphicon glyphicon-user"></span>
      </div>
      <div class="number"><%= @stats[:nstudents] %></div>
      Studenti presenti sul sito
    </div>
  </div>

  <div class="stat">
    <div>
      <div class="icon">
        <span class="glyphicon glyphicon-tasks"></span>
      </div>
      <div class="number"><%= @stats[:nskills] %></div>
      Competenze offerte dalla scuola
    </div>
  </div>

  <div class="stat">
    <div>
      <div class="icon">
        <span class="glyphicon glyphicon-calendar"></span>
      </div>
      <div class="number"><%= @stats[:nstages] %></div>
      Stage iniziati
    </div>
  </div>
</div>

<div class="row v-align">
  <div class="stat">
    <div>
      <div class="icon">
        <span class="glyphicon glyphicon-stats"></span>
      </div>
      <div class="number"><%= @stats[:avgsskills] %></div>
      Livello medio delle competenze degli studenti<br>
      <small>(scala da 0 a 5)</small>
    </div>
  </div>

  <div class="stat">
    <div>
      <div class="icon">
        <span class="glyphicon glyphicon-stats"></span>
      </div>
      <div class="number"><%= @stats[:avgcskills] %></div>
      Livello medio delle competenze richieste dalle aziende<br>
      <small>(scala da 0 a 5)</small>
    </div>
  </div>
</div>
