<% provide(:title, "Login") %>
<h1>Login</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= link_to "(password dimenticata?)", new_password_reset_path %>

      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Ricordami su questo computer</span>
      <% end %>

      <%= f.submit "Login", class: "btn btn-primary" %>
    <% end %>

    <p>
      <%= link_to "Sei una nuova azienda? Registrati!", companies_signup_path %>
    </p>
  </div>
</div>
