<h1>Password reset</h1>

<p>Per resettare la tua password fai click sul link seguente:</p>
<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Questo link scadrà in due ore.</p>

<p>Se non hai richiesto il reset della password, per favore ignora questa email.</p>
