<li>
  <% if current_user.is_a? School %>
    <div style="display:flex">
      <div style="flex:1">
        <%= gravatar_for student, size: 50 %>
        <div style="margin-left:10px;display:inline-block"></div>
        <%= link_to student.name, student %>
      </div>
      <div style="flex:1;text-align:center">
        <%= student.school_year %>
      </div>
      <div class="settings">
        <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span>"),
                    edit_student_path(student), class: "btn btn-warning" %>
        <%= link_to raw("<span class='glyphicon glyphicon-trash'></span>"),
                    student, method: :delete,
                                    data: { confirm: "Sei sicuro?" },
                                    class: "btn btn-danger" %>
      </div>
    </div>
  <% else %>
    <div style="flex:1">
      <%= gravatar_for student, size: 50 %>
      <div style="margin-left:10px;display:inline-block"></div>
      <%= link_to student.name, student %>
    </div>
    <div style="flex:1;text-align:center">
      <%= student.school_year %>
    </div>
    <div style="width:100px"></div>
  <% end %>
</li>
