<% provide(:title, @student.name) %>
<h1>
  <%= gravatar_for @student, { style: "" } %>
  <%= @student.name %>
</h1>
<div class="row" style="margin-top: 20px;">
  <div class="col-md-3">
    <h3>Email</h3>
    <%= @student.email %> <br>
    <h3 style="margin-top:25px">Data di nascita</h3>
    <%= @student.birth_date %> <br>
    <h3 style="margin-top:25px">Classe</h3>
    <%= @student.school_year %>
    <% if !@student.activated? %>
      <div style="color:#c55;font-weight:bold">Account non attivato</div>
    <% end %>
    <br> <br>
    <%= link_to "Modifica", edit_student_path(@student),
                               class: "btn btn-warning" %>
  </div>

  <section class="col-md-9">
    <ul class="users">
      <li>
        <div style="display:flex">
          <div style="flex:7">
            <b>Competenza</b>
          </div>
          <div style="flex:1;text-align:center">
            <b>Livello</b>
          </div>
      </li>
      <%= render @student_skills %>
    </ul>
  </section>
</div>
