<li>
  <% if current_user.is_a? School %>
    <div style="display:flex;">
      <div style="flex:7">
        <%= skill.name %>
      </div>
      <div style="flex:1;text-align:center">
        <%= skill.school_year %>
      </div>
      <div style="flex:1;text-align:center">
        <%= skill.course %>
      </div>
      <div class="settings">
        <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span>"),
                    edit_skill_path(skill), class: "btn btn-warning" %>
        <%= link_to raw("<span class='glyphicon glyphicon-trash'></span>"),
                    skill, method: :delete,
                                    data: { confirm: "Sei sicuro?" },
                                    class: "btn btn-danger" %>
      </div>
    </div>
  <% else %>
    <%= skill.name %>
  <% end %>
</li>
