<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Il form contiene <%= pluralize(object.errors.count, "errore") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
