<li>
  <% if (current_user.is_a? School) && current_user.admin? &&
        !current_user?(company) %>
    <div style="display:flex">
      <div style="flex:1">
        <%= gravatar_for company, size: 50 %>
        <div style="margin-left:10px;display:inline-block"></div>
        <%= link_to company.name, company %>
      </div>
      <div class="settings">
        <%= link_to raw("<span class='glyphicon glyphicon-trash'></span>"),
                    company, method: :delete,
                                    data: { confirm: "Sei sicuro?" },
                                    class: "btn btn-danger" %>
      </div>
    </div>
  <% else %>
    <%= gravatar_for company, size: 50 %>
    <div style="margin-left:10px;display:inline-block"></div>
    <%= link_to company.name, company %>
  <% end %>
</li>
