<% provide(:title, @company.name) %>
<h1>
  <%= gravatar_for @company, { style: "" } %>
  <%= @company.name %>
</h1>
<div class="row" style="margin-top: 20px;">
  <div class="col-md-3">
    <h3>Descrizione</h3>
    <%= @company.description %> <br>
    <h3 style="margin-top:25px">Indirizzo</h3>
    <%= @company.address %> <br>
    <h3 style="margin-top:25px">Posti liberi</h3>
    <%= @company.vacancies %>
  </div>

  <section class="col-md-9">
    <ul class="users">
      <li>
        <div style="display:flex">
          <div style="flex:7">
            <b>Competenza</b>
          </div>
          <div style="flex:1;text-align:center">
            <b>Livello</b>
          </div>
      </li>
      <%= render @company.company_skills %>
    </ul>
  </section>
</div>
