<% provide(:title, 'Richiedi stage') %>
<h1>Richiedi stage</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@stage) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :student_id, "Studente" %>
      <%= text_field_tag :student_name, @match[:student],
                         class: "form-control", :readonly => true %>
      <%= f.hidden_field :student_id, class: "form-control" %>

      <%= f.label :company_id, "Azienda" %>
      <%= text_field_tag :company_name, @match[:company],
                         class: "form-control", :readonly => true %>
      <%= f.hidden_field :company_id, class: "form-control" %>

      <%= f.label :start_time, "Data inizio" %>
      <%= f.text_field :start_time, class: "form-control" %>

      <%= f.label :end_time, "Data fine" %>
      <%= f.text_field :end_time, class: "form-control" %>

      <%= f.submit "Richiedi stage", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
