<li>
  <div class="v-align">
    <div style="flex:7">
      <b>Nome</b>
    </div>
    <div style="flex:1;text-align:center">
      <b>Tuo livello</b>
    </div>
    <div style="flex:1;text-align:center">
      <b>Livello azienda</b>
    </div>
</li>
<% skills.each do |skill| %>
<li>
  <div style="display:flex">
    <div style="flex:7">
      <%= skill[:name] %>
    </div>
    <div style="flex:1; text-align:center">
      <%= skill[:s_level] %>
    </div>
    <div style="flex:1; text-align:center">
      <%= skill[:c_level] %>
    </div>
</li>
<% end %>
