<% provide(:title, 'I tuoi match') %>
<h1>I tuoi match</h1>
<% if !@stage.nil? %>
  <div style="width:300px; margin:auto; text-align:center">
    <% if @stage.activated? %>
        Hai già uno stage in corso, i match non sono disponibili con uno stage in corso. <br> <br>
        <%= link_to "Vai allo stage", stage_path(@stage.id), class: "btn btn-primary" %>
    <% else %>
      Hai già effettuato una richiesta di stage. <br><br>
      <%= link_to "Annulla la richiesta", @stage, method: :delete,
                                    data: { confirm: "Sei sicuro?" },
                                    class: "btn btn-danger" %>
    <% end %>
  </div>
<% else %>
  <p>
    Da questa pagina puoi scegliere l'azienda in cui fare lo stage. I match sono calcolati in base alle tue competenze e alle competenze richieste dall'azienda.
  </p>

  <%= will_paginate %>

  <ul class="users">
    <li>
      <div style="display:flex">
        <div style="flex:3">
          <b>Nome azienda</b>
        </div>
        <div style="flex:1;text-align:center">
          <b>Difficoltà</b>
        </div>
        <div style="flex:3;text-align:center">
          <b>Match</b>
        </div>
        <div style="width:160px">

        </div>
    </li>
    <%= render @matches %>
  </ul>

  <%= will_paginate %>

<% end%>
