<% provide(:title, "Dettagli match") %>
<h1>Dettagli match</h1>
<div class="row v-align">
  <section id="skills-container" class="col-md-8">
    <ul class="users">
      <%= render "match_skills", skills: @match_skills %>
    </ul>
  </section>
  <section class="col-md-4">
    <div id="match-container" class="v-align">
      <div id="match-text">
        Lo scarto tra i livelli dell'azienda e i tuoi è
          <div id="percentage">
            <%= relative_match_percentage(@match) %>%
          </div>
          <div class="match-btn">
            <%= link_to "Scegli", new_stage_path(id: @match.id), class: "btn btn-success" %>
          </div>
      </div>
    </div>
  </section>
</div>
