
hr{
  margin-bottom:10px;
}

#show-hint{
  margin:00px 0px 10px 0px;
}

#skill-hint-overlay{
  display:none;
  position:fixed;
  background:rgba(0,0,0,0.4);
  top:0;
  bottom:0;
  right:0;
  left:0;
}

#skill-hint-container{
  width:800px;
  margin:auto;
  margin-top:80px;
  background:white;
  border-radius:5px;
  padding:10px;

  table{
    text-align:center;
    th{
      text-align:center;
    }
    td, th{
      padding:5px;
    }
    ul{
      text-align:left;
    }
  }
}
