#skills-container {
  padding-right:30px;
}

#match-container {
  width: 100%;
  height:300px;
  border: 1px solid #ccc;
  border-radius:7px;
  text-align:center;
}

#match-text{
  margin:auto;
  text-align:center;
  font-size: 17px;
}

#percentage {
  margin: 15px 0 15px 0;
  font-size: 40px;
  font-weight:bold;
}

a.btn{
  display:block;
}
