#desc{
  margin:40px 30px 30px 30px;
}

.stat {
  flex:1;
  display:flex;
  align-items:center;
  margin:10px;
  height:200px;
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
  font-size:17px;
  text-align:center;

  .number {
    margin:17px;
    font-size:32px;
    font-weight:bold;
  }

  .icon {
    height:30px;
    font-size:25px;
  }
}

.stat>div {
  margin:auto;
}

#signup-container {
  text-align:center;
  margin-bottom:30px;
}
