.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding:10px 10px 10px 20px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item {
  padding:5px 0 5px 0;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.ui-state-hover, .ui-state-active, .ui-state-focus {
    text-decoration: none;
    background-color: #ddd;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

hr{
  margin-bottom:10px;
}

#show-hint{
  margin:00px 0px 10px 0px;
}

#skill-hint-overlay{
  display:none;
  position:fixed;
  background:rgba(0,0,0,0.4);
  top:0;
  bottom:0;
  right:0;
  left:0;
}

#skill-hint-container{
  width:800px;
  margin:auto;
  margin-top:80px;
  background:white;
  border-radius:5px;
  padding:10px;

  table{
    text-align:center;
    th{
      text-align:center;
    }
    td, th{
      padding:5px;
    }
    ul{
      text-align:left;
    }
  }
}
